on: push
name: Build and test
jobs:
  build_and_test:
    name: Build and test
    if: '!github.event.deleted'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.3
    - name: Build
      run: docker build -t reload/lumturio-jira:test .
    - name: Test
      run: docker run --rm reload/lumturio-jira:test php /opt/lumturio-jira/lumturio-jira.phar
          --no-interaction --version
